.groupbutton {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: -10px;
  width: 200px;
}
.groupbutton img {
  width: 10px;
  margin-right: 10px;
}
.groupbutton span {
  margin-left: 20px;
  font-size: 13px;
}
/* -------- ultimo grupo -------- */
.last_groupbutton {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  margin-right: 370px;
}

.last_groupbutton img {
  width: 15px;
  margin-right: 10px;
}
.last_groupbutton span {
  margin-left: 27px;
  font-size: 13px;
}
