.search{
    background-color:#24AB70 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    height: 100%;
    width: 200px;
}
.search p{
    display: flex;
    align-items: center;
    gap: 10px;
}